@mixin mydeal {
  .MyDealNavbar {
    background: #efefef;
  }
  .MyDealSearchbar {
    left: 50% !important;
    transform: translateX(-50%);
    top: auto !important;
    right: auto !important;
    bottom: 20px !important;
    position: fixed !important;
  }

  .MyDealSearchbar.top {
    bottom: 0px !important;
    width: 100%;
    border-radius: 0px;
  }

  .MyDealFooter {
    background: #404040;
  }

  .childpanelwrapper {
    pointer-events: none;
  }
}
